.transparent {
        background: none;
        /*opacity: 0.3;*/
    }

 .transparent{
     background: rgba(122, 130, 136, 0.3)!important;
 }
 
 .panel-heading{
 	padding: 6px;
 	font-size: 15px;
 }
 
 .panel-body{
 	 padding: 6px;
 	 vertical-align: middle;
 }

 .panel {
    background: none;
 	margin:8px;
    /*border: 0;*/
}